@import url("./reset.css");

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
}

header {
    background-color: black; 
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    /* position: fixed; */
    width: 100%;
}

header div {
    display: flex;
    align-items: center;
    gap: 35px;
}

header div a {
    text-decoration: none;
    color: aliceblue;
    font-size: 28px;
}

header a {
    text-decoration: none;
}

#menu {
    width: 100%;
}
.cart-icon {
    position: relative;
}

.counter {
    text-decoration: none;
    background-color: yellow;
    font-size: 1.2em;
    font-weight: bold;
    width: 25px;
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 5;
}

main {
    height: 100%;
}
main section {
    height: 100%;
    width: 100%;
}

#menu {
    background-color: aqua;
    padding: 25px 0px 0px 100px;
    height: 100%;
}

#cart {
    background-color: brown;
}

#order {
    background-color: wheat;
}

.menu-products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}

.product-card {
    width: 400px;
    border-radius: 10px;
    /* height: 500px; */
    background-color: white;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: 250px repeat(4, 30px);
    grid-template-areas: 
        "a a"
        "b b"
        "c c"
        "d d"
        "e e"
        "f g"
    ;
}

.product-img {
    grid-area: a;
    width: 100%;
    height: 100%;

}
.product-name {
    grid-area: b;
}

.product-weight {
    grid-area: c;
}
.product-category {
    grid-area: d;
}
.product-price {
    grid-area: e;
}

.product-count {
    grid-area: f;
}
.product-add-to-cart {
    grid-area: g;
}

/* CART PAGE */
#cart {
    min-height: 100vh;
    padding: 200px;
}

.currentCart {
    width: 50%;
    margin: auto;

    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid aliceblue;
    padding: 5px;
}

/* ORDER INFO */

.order-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}

.order-info p{
    font-size: 1.4em;
    font-weight: bold;
}

.btn-order {
    padding: 5px 10px;
}



table {
    border: 3px solid aliceblue;
    width: 50%;
    margin: auto;
}

table th, table td {
    border: 3px solid aliceblue;
    padding: 3px 5px;
    font-weight: bold;
}

/* order */

#order {
    height: 100vh;
}

.form-order {
    width: 50%;
    margin: auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.final {
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    display: none;
}