#home {
  flex-direction: column;
}

#partiesResult {
  min-height: 85vh;
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.card{
  height: 373px;
}

.card-img-top {
  width: 200px;
  height: 150px;
}
