.shop-cards-section {
    margin: 80px 160px 0px; 
    display: flex;
    justify-content: center;
    gap: 5px;
}

.shop-card-item {
    width: 25%;
    margin-right: 10px;
}

.shop-card-item img, .shop-card-item video {
    width: 100%;
    height: 510px;
}

.shop-card-item video {
    height: 510px;
    object-fit: unset;
}

.shop-card-description {
    height: 111px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.shop-card-descrition-title {
    font-weight: bold;
    font-size: 18px;
    height: 22px;
    margin-bottom: 5px;
}

.shop-card-description-desc {
    color: var(--text-grey-color);
    font-size: 20px;
}

.shop-card-description button{
    margin-top: 20px;
    padding-left: 0px;
    height: 100%;
    background-color: var(--main-white-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.shop-card-link-text {
    color: var(--main-black-color);
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    letter-spacing: .17em;
    padding: 1px 0px 4px 0px;
}
