:root {
    --main-black-color: #000000;
    --main-white-color: #FFFFFF;
    --search-bar-color: #ECEFF1;
    --main-grey-color: #d3d7da;
    --text-grey-color: #767677;
    --main-yellow-color: #ede734;
    --footer-bg-color: #363738;
}